body {
    display:block;
    justify-content: center;
    align-items: center;
}
*{
    font-family: 'Raleway', sans-serif;
}
.login{
    display:block;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
}
form{
    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-top:120px;
    max-width: 100%;
}
.login form, .form-group{
    width: 300px;
}
.msg{
    margin-top:30px;
}
h3{
    font-family: 'Beth Ellen', cursive;
    margin-top:80px;
    margin-bottom: -80px;
    text-align: center;
    color:#FEA63A;
    font-size:35px;
    text-shadow: black 0.03em 0.03em 0.05em;
}

h4{
    font-size:18px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
    background-color:#FEA63A;
    border-radius: 10px;
    text-shadow: -0.1px 0 black, 0 0.2px black, 0.2px 0 black, 0 -0.1px black;

}
label{
    display:block;
    margin-left: auto;
    margin-right: auto;
}
.cadastro form{
    width: 700px;
}
.cadastro .form-group{
    float:left !important;
    margin-left: 25px !important;
    margin-right: 25px !important;
    margin-bottom:20px;
}
form label{
    font-size:20px;
}
#enviar, .login{
    display:block;
    margin-left: auto;
    margin-right: auto;
}
input#login,input#senha, input#nome, input#email, input#altura, input#idade{
    max-width: 100%;
    width:300px;
    height: 40px;
    font-size:20px;
    padding-left:10px;
} 
.login .form-group.row{
    margin-right:0 !important;
    margin-left:0 !important;
}
.btn{
    background-color:#FEA63A;}
a{
    color:#FEA63A;
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    margin-top:20px;
    text-shadow: black 0.01em 0.01em 0.03em;
    /* font-family: 'Beth Ellen', cursive; */
}
a:hover{
    color:black;
}
textarea:focus,
select:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
    border-color: #FEA63A !important;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px #FEA63A !important;
    outline: 0 none !important;
}