{% extends "base.html" %}
{% block title %}Lista de Filmes{% endblock %} 
{% block corpo %}
<table class='table'>
    <tr>
        <th>ID</th>
        <th>TÍTULO</th>
        <th>DIREÇÃO</th>
        <th>GÊNERO</th>
    </tr>
    {% for f in filmes %}
    <tr>
        <td>{{f.id}}</td>
        <td>{{f.titulo}}</td>
        <td>{{f.direcao}}</td>
        <td>{{f.genero}}</td>
        <td> 
            <a class="seta" id="seta{{f.id}}">
                <span class="glyphicon glyphicon-chevron-down"></span>
            </a>
        </td>
        <td class="loading{{f.id}}"></td>
    </tr>
    <tr class="firstResponse{{f.id}}"></tr>
    <tr class="secondResponse{{f.id}}"></tr>
    {% endfor %}
</table>
{% endblock %}
{%block script%}
<script type=text/javascript>
    const ids = {}
    $('.seta').click(function() {
        let id =  $(this).attr('id');
        id = id.substr(4);
        let tr1 = $('.firstResponse'+id);
        let tr2 = $('.secondResponse'+id);
        let loading = $('.loading'+id)
        let img = document.createElement("IMG");
        img.src = "/static/carregar.gif";
        img.style.width = "30px";
        img.style.height = "30px";
        console.log(loading);
        if ((id in ids) == false){
            console.log(loading);
            loading.append(img);
            req = $.ajax({
                url: '/buscar?id='+id,
                type: 'GET',
                async: true,
                cache: true
            })
            req.done(function(data) {
                let json = JSON.parse(data.filme);
                ids[json.id] = json.titulo;
                let count = Object.keys(json).length;
                loading.empty();
                for(i = 4; i < count; i++){
                    th = document.createElement("th");
                    th.innerHTML = Object.keys(json)[i].toUpperCase();
                    th.style.color = "#89201C";
                    tr1.append(th);
                }
                for(i = 4; i < count; i++){
                    td = document.createElement("td");
                    td.innerHTML = Object.values(json)[i];
                    tr2.append(td);
                }
            });
        } else{
                tr1.empty();
                tr2.empty();
                delete ids[id];
        }
    });
    </script> 
{%endblock%}